.product{
    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    width: calc(25% - 10px);
    min-height: 300px;
    margin-top: 20px;
    padding: 10px 10px;

    box-shadow: 0px 0px 10px #ccc;
    border-radius: 5px;

    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s linear;
    overflow: hidden;
   
    &:hover {
        transform: scale(1);
        z-index: 111;
    }
    
 
    &:hover &__overflow {
        bottom: 25%;
    }

    &:hover  &__overflow{
        transform: translateX(0);
       
        & span:first-child{
            animation: spin01 0.5s ease ;
            transform: translateX(0);
            
        }
        & span:nth-child(2){
            animation: spin01 1s ease ;
            transform: translateX(0);
            
        }
        & span:last-child{
            animation: spin01 1.5s ease ;
            transform: translateX(0);
            
        }
    }

    &__overflow{
        position: absolute;
       
        bottom: -40px;
        left: 0;

        width: 100%;
        // height: 100%;
        border-radius: 5px;

        transition: 0.4s linear;
        // background-color: #bfc7f56e;
       
    }
    
    &__icon{
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 26px;
        height: 100%;
        & span {
            // position: absolute;
            // transform: translateX(200px);
            cursor: pointer;
            transition: 0.2s linear;
           
            &:hover{
                color: #026af6;
            }
        }
    }
    @keyframes spin01{

        0%{
            transform: translateY(100px);
            opacity: 0.5;
        }
        100%{
            transform: translateY(0px);
            opacity: 1;
        }
    }

   
 
   
    
    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 0;
        & img{
            // width: 200px;
        }
    }
    &__name{
       
        width: 100%;
        margin: 10px 0px;
        font-size: 14px;
        font-weight: 500;
    }
    &__price{
        width: 100%;
        font-size: 14px;
        font-weight: 500;
    }
    &__originalPrice,&__promotionPercent{
        font-size: 10px;
    }
    &__originalPrice{
        text-decoration: line-through;
        margin-left: 5px;
    }

    &__skeleton{
        width: 100%;
        height: 100%;
    }

    
}

@media screen and(max-width:1023px) {
    .product{
        width: calc(33.3% - 10px);
    }
    
}
@media screen and(max-width:813px) {
    .product{
        width: calc(33.3% - 10px);
    }
    
}
@media screen and(max-width:450px) {
    .product{
        width: calc(50% - 10px);
    }
    
}