.categorys{
    &__title{
        font-weight: 500;
    }
    &__list{
        & li {
            font-size: 16px;
            font-weight: 400;
            text-transform: capitalize;

            margin: 5px 0px;
          
          
            // border-bottom: 1px solid #ccc;
            cursor: pointer;
            transition: all 0.2s linear;
            &:hover{
                color: #026af6;
            }
        }
        & li.active{
            color: #026af6;
        }
    }
}