.productlist{
    margin: 20px 0;
   
   &__row{
    gap: 10px;
   }

   &__left,&__right{
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    }
   
    &__left{
        width: 300px;
        // display: none;
        &--active{
            display: none;
            position: relative;
            & span{
                position: absolute;
                top: 10px;
                left: 104%;

                border: 1px solid;
                width: 40px;
                height: 40px;

                text-align: center;
                line-height: 40px; 
                font-size: 30px;
                z-index: 10;
                cursor: pointer;
            }
        }
    }
    
    &__right{
        position: relative;
        flex: 1 1 0;
        gap: 10px;
       
    }
    &__loading{
        position: absolute;
        top: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
        background-color: rgba(80, 80, 80, 0.096);
        z-index: 11;
    }

    &__row{
        justify-content: flex-start;
        gap: 10px;
    }

    
    &__pagination{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and(max-width:1023px) {
    .productlist{
        &__left{
            width: 250px;
            // display: none;
           
        }
    }
}
@media screen and(max-width:768px) {
    .productlist{
        // position: relative;
        &__left{
            position: fixed;
           width: 300px;
            height: 100%;
            top: 0px;
            left: -300px;
           
            z-index: 1111;
            transition: left 0.3s linear;
           
            &--active{
                display: block;
            }
        }
        &__left.active{
            left: 0;
        }


        &__category{
            margin-top: 50px;
        }
        &__price,&__category,&__services{
            padding-left: 5px;
        }
    }
}
