.footer{
    padding: 20px 0;

    background-color: #3968f7;

    &__item{
        & li {
            margin-left: 5px;
        }
    }
    &__social-link > li > a{
        color: #fff;
        font-size: 25px;
    }
    &__copyright{
        text-align: center;
    }

}
@media screen and(max-width:819px){
    .footer{
        &__item{
            margin-top: 10px;
        }
    }
    
}